/* Css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font-family */
@font-face {
  font-family: 'Averta Standard';
  src: url(FontsFree-Net-AvertaStandard-Regular.ttf);
}

h2 {
  font-family: myFirstFont;
  color: darkgreen;
}

/* Color pallette */
:root {
  --header-bg: #ff921e;
  --card-bg: #fb96449b;
}

/* All repeated dimensions */
:root {
  --logo-w: 15%;
  --logo-pd: 20px;
  --logo-fs: 2rem;
  --nav-li-w: 26%;
}

/* Layout size */
.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;  
}

.col {
  padding: 0 15px;
  margin-bottom: 20px;
}

/* Generics */
body {
  font-family: 'Averta Standard', Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--header-bg);
  display: flex;

}

ul {
  list-style-type: none;
}

main {
  padding: 5px;
}

img {
  max-width: 50%;
  border: 2px solid var(--card-bg);
}

/* Utilities */
/* Header */
h1.logo {
  flex-basis: var(--logo-w);
  padding: var(--logo-pd);
  
  text-align: center;
  font-size: var(--logo-fs);
}

nav {
  width: calc(100% - 2 * var(--logo-w));
  height: 100%;
  padding: var(--logo-pd) 0;
  line-height: var(--logo-fs);
}

nav ul {
  display: flex;
  align-items: center;
  text-align: center;
}

nav li {
  flex-basis: var(--nav-li-w);
}

nav li.search-box {
  flex-basis: calc(100% - 3 * var(--nav-li-w));
  
  input {
    width: 50%;
    padding: 10px 14px 10px 30px;
    position: relative;
    border: 3px solid currentColor;
    border-radius: 25px;
    /* background-color: transparent; */

    font-size: 1.1rem;
    font-family: 'Averta Standard', sans-serif;
    transition: width  3s;
  }

  input:focus {
    width: 100%;
  }

  label.search-label {
    position: relative;
  }

  .fa-magnifying-glass:before {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 15px;
    translate: 0 25%;
    z-index: 1;
  }

  label {
    cursor: pointer;
  }
}

.login-box {
  flex-basis: var(--logo-w);
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.login-box .buttons-wrapper {
  padding: 0 10px;
  flex-grow: 1;
}

.text-wrapper {
  text-decoration: underline;
  cursor: pointer;
}

button.btn {
  padding: 10px 14px;
  font-size: 1.1rem;
  font-family: 'Averta Standard', sans-serif;
  border: 3px solid currentColor;
  border-radius: 25px;
  cursor: pointer;
}

/* LOGIN PAGE (LOGIN AREA) */
.login-box.logging {
  .text-wrapper {
    text-decoration: none;
    color: #fff;
    cursor: default;
  }
}

.logo.logging {
  a {
    text-decoration: none;
    color: black;
  }
}

.row.logging {
  margin-top: 50px;
  padding: 20px 0;
}

.col.logging {
  flex-basis: calc(100% / 3);

  input {
  width: 100%;
  padding: 10px 14px;
  margin-top: 10px;

  font-size: 1.1rem;
  font-family: 'Averta Standard', sans-serif;
  border: 3px solid currentColor;
  border-radius: 25px;
  }

  .btn {
    margin-left: 15px;
  }

  .btn-sub {
    margin-left: 0;
  }
  
  .btn-sub:hover {
    background-color: var(--header-bg);
  }

  .btn-res:hover {
    background-color: #bc4022
  }
}

/* Main */
.container-md {
  max-width: 1258px;
  margin: 0 auto;
  
  padding: 10px 15px;
}


.card-content {
  padding: 10px 15px;
  background-color: var(--card-bg);
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
}

ul.products-list {
  margin-top: 30px; 
}

main li.product {
  display: flex;
  flex-basis: calc(100% / 3);
  aspect-ratio: 2.6;
}

li.product {
  position: relative;
}

.name {
  font-size: 1.5rem;
}

.type,
.category {
  color: #084a64;  
}

.category:before {
  content: 'Cat. '
}

.price-box {
  flex-grow: 1;

  display:flex;
  align-items: flex-end;
}

.price {
  font-size: 1.2rem;
}

.discounted-price {
  margin-left: 10px;
  color: #ff654e;
}

.previous-price {
  text-decoration: line-through;
}

.price::after {
  content: '\20AC';
}

.category-img {
  width: 40px;
  height: 40px;
  padding: 5px;
  position: absolute;
  right: 40px;
  bottom: 10px;
  border: 2px solid black;
  border-radius: 50%;
}
